body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.invoice {
    width: 80%; /* Ajusta este valor para ocupar más espacio */
    max-width: 1000px; /* Opcional: establece un ancho máximo */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.invoice-header,
.invoice-info,
.invoice-details,
.invoice-footer {
    margin-bottom: 20px;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.invoice-title {
    text-align: right;
}

.invoice-info,
.invoice-details,
.invoice-footer {
    display: flex;
    justify-content: space-between;
}

.billed-to {
    flex: 1;
}

.invoice-details table {
    width: 100%;
    border-collapse: collapse;
}

.invoice-details th,
.invoice-details td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.invoice-total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}

.payment-info {
    flex: 1;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

@media print {
    .print-button-container {
        display: none;
    }
}
